  name: Selenium Tests
  on:
    push:
      branches: [ master ]
    pull_request:
      branches: [ master ]
  permissions:
    contents: write  # Needed to push to gh-pages
    pages: write
    id-token: write
  jobs:
    test:
      timeout-minutes: 60
      runs-on: ubuntu-latest
      steps:
        # Checkout code
        - name: Checkout code
          uses: actions/checkout@v5
        # Set Up JDK 21
        - name: Set up JDK 21
          uses: actions/setup-java@v5
          with:
            java-version: '21.0.5'
            distribution: 'temurin'
            cache: 'maven'
        # Build with Maven, skipping tests
        - name: Build with Maven
          run: mvn clean install -DskipTests
        # get allure history
        - name: Download Allure report history
          uses: actions/checkout@v5
          if: always()
          continue-on-error: true
          with:
            ref: gh-pages
            path: gh-pages
        # Run Selenium tests
        - name: run Selenium smoke tests
          run: mvn clean test -Denv=prod -Dgroups=smoke
        # Generate Allure Report
        - name: Build Allure Report
          uses: simple-elf/allure-report-action@v1.13
          if: always()
          with:
            gh_pages: gh-pages
            allure_history: allure-history
            allure_results: target/allure-results
            keep_reports: true
        # Publish test reports
        - name: Publish test report
          uses: peaceiris/actions-gh-pages@v3
          if: always()
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_branch: gh-pages
            publish_dir: allure-history

        # old way to upload artifacts
        #- name: Archive test reports
        #  if: always()
        #  uses: actions/upload-artifact@v4
        #  with:
        #    name: test-reports
        #    path: |
        #      target/allure*
        #      target/site/
        #- name: Publish Allure report
        #  uses: peaceiris/actions-gh-pages@v4
        #  if: always()
        #  with:
        #    github_token: ${{ secrets.GITHUB_TOKEN }}
        #    publish_branch: master
        #    publish_dir: allure-history